/Solucion_Codigo/JavaApplication2/nbproject/private/
/Solucion_Codigo/JavaApplication2_/nbproject/private/
/Solucion_Codigo/JavaApplication2_/build/
/Solucion_Codigo/Producto/build/
/Solucion_Codigo/Producto/nbproject/private/
/Solucion_Codigo/Sistema de calificaciones de Estudiantes/nbproject/private/
/Solucion_Codigo/Sistema de calificaciones de Estudiantes/build/
/Solucion_Codigo/SistemaCategorizacionEnUnaEmpresa/nbproject/private/
/Solucion_Codigo/SistemaCategorizacionEnUnaEmpresa/build/
/Solucion_Codigo/AppFiscalia/nbproject/private/
/Solucion_Codigo/AppFiscalia/build/
/Solucion_Codigo/SistemaGestionConflictos/nbproject/private/
